<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<!-- *appShowAuthed="true"-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/main']">Guess That Song 🥁 🎹 🎸 </a>
  <div class="d-flex justify-content-end">
    <div *appShowAuthed="false">
    <button
      class="btn btn-outline-info mr-3"
      [routerLink]="['/login']"
    >
      Login
    </button>
   <button
      class="btn btn-outline-warning mr-3"
      [routerLink]="['/register']"
    >
      Register
    </button>
   </div>
   <div *appShowAuthed="true">
    <button
      class="btn btn-outline-success mr-3"
      [routerLink]="['/guessthatsong']"
    >
      Play
    </button>
    <button
      class="btn btn-outline-danger mr-3"
      (click)="onLogout()"
    >
      Logout
    </button>
   </div>
   <button class="btn btn-outline-primary" [routerLink]="['/']">Home</button>	
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/main']"
      >Guess That Song 🥁 🎹 🎸
    </a>
    <code
      ><a href="https://github.com/Paddlepop25/guess_that_song" target="_blank"
        >View Github Repository</a
      ></code
    >
  </nav>
</div>
