video {
  outline: none;
  height: 7.5rem;
  position: relative;
  top: -55px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.guitar_heroes {
  margin: 0 auto;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  height: 10rem;
}
.radio-toolbar {
  margin: 10px;
}

label {
  width: 16.6rem;
  text-align: center;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: rgb(255, 246, 230);
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid rgb(83, 52, 0);
  border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: rgb(255, 234, 165);
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed rgb(68, 68, 68);
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: rgb(255, 240, 187);
  border-color: rgb(204, 154, 68);
}

.scoreBtn {
  text-align: center;
}
